.navbar{
  list-style: none;
  text-decoration: none;
  height: 100vh;
  width: 15%;
  background-color: #888888;
}
.cont{
  background-color: #525252;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
ul{
  list-style: none;
}
.li{
  display: block;
  padding: 10px;
  font-size: 30px;
  text-decoration: none;
  color: aliceblue;
}
.li:hover{
  color: rgb(255, 255, 255);
  background-color: #525252;
} 
/* .bar{
  color: #414084;
  display: flex;
  justify-content: flex-end;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */

.body{
  width: 85%;
  background-color: antiquewhite;
  display: block;
}
.categorie{
  background-color: 0f4c5c;
  height: 100vh;
}
.color{
  width: 26px;
  height: 24px;
  background-color: blue;
}
.headcategorie{
  display: flex;
  justify-content: space-between;
  background-color: #796d6d;
}
.btnnewcategorie{
  background-color: #888888;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  color: black;
  border-radius: 10px;
}
.table{
  margin-top: 30px;
}
.formnewcategorie form{
  width: 700px;
  margin: auto;
  margin-top:50px ;
  background-color: aliceblue;
  padding: 30px;
  display: block;
}
.inputnewcate,.inputcolor{
  margin-bottom:100px;
}
.btnnewcategorieform{
  text-align: end;
}
.headcategoriedetails{
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
}
.headtitlacate{
  display: flex;
  justify-content: space-between;
  width: 450px;
}
.btnnewproduit{
  background-color: #888888;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  color: black;
  border-radius: 10px;
}
.formproduit{
  background-color: rgb(255, 255, 255);
  width: 700px;
  padding: 20px;
  margin:auto ;
}
.active{
  background-color: #c4c2c2;
}
.selectprod{
  border: none;
  width: 400px;
  background-color: #c4c2c2;
  padding: 10px;
}